{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Visualising Climate 2026 — Conference</title>
  <link rel="icon" type="image/png" href="{% static 'logos/vc_logo_static/logo_final@4x.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Playfair+Display:wght@600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav class="nav">
  <div class="nav-inner">

    <a class="brand" href="/">
      <div id="vcLogoHeader" class="vc-logo"></div>
      <span class="brand-title">Visualising Climate 2026</span>
    </a>
    <div class="spacer"></div>
    <div class="nav-links">
      <div class="nav-dropdown">
        <button class="dropdown-toggle">About</button>
        <div class="dropdown-menu">
          <a href="/institutions">Participating Institutions</a>
          <a style="color: gray">Program (coming soon)</a>
          <a href="/info">General Information</a>
          <a href="/terms-conditions">Terms and Conditions</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
{#      <a class="link" href="/register">Register</a>#}
      <a class="link" href="/submissions">Submissions</a>
      <a class="link" href="/venue">Venue</a>
      <a class="link" href="/contact">Contact Us</a>
    </div>
        <button class="nav-toggle" aria-label="Toggle navigation">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>

{% block content %}{% endblock %}
<section id="partners" class="section">
    <div class="container">
    <div class="logo-wrapper">
  <div class="logo-wide">
    <a href="https://climate.copernicus.eu/">
      <img src="{% static 'logos/Copernicus-ECMWF/logoline.svg' %}" alt="Copernicus-ECMWF logo">
    </a>
    <a href="https://climate.copernicus.eu/">
      <img src="{% static 'logos/Copernicus-ECMWF/ECMWF-emblem-1st-Dec-border.svg' %}" alt="Copernicus-ECMWF logo">
    </a>
  </div>

  <div class="logo-row">
    <a href="https://welcome.miami.edu/">
      <img src="{% static 'logos/UM/um-horizontal-pms.svg' %}" alt="UM logo">
    </a>

    <a href="https://openvisualizationacademy.org">
      <img src="{% static 'logos/UM/ova_closeup.svg' %}" alt="OVA logo">
    </a>

    <a href="https://www.bc3research.org/">
      <img src="{% static 'logos/BC3/2.1 BC3 H Color.svg' %}" alt="BC3 logo">
    </a>

    <a href="https://www.bsc.es/es">
      <img src="{% static 'logos/BSC/BSC-blue.svg' %}" alt="BSC logo">
    </a>

    <a href="https://www.csic.es/es">
      <img src="{% static 'logos/CSIC/1-CSIC-Logotipo--SVG-Vectorial--COLOR--CSIC.svg' %}" alt="CSIC logo">
    </a>
  </div>
</div>
    </div>
  </section>

<footer>
  <div class="footer-inner">

    <div class="footer-contact">
      <strong>Contact us</strong><br>
      <a href="mailto:hello@visualisingclimate.com">hello@visualisingclimate.com</a>
    </div>

    <div class="copyright">
      © 2026 Visualising Climate
    </div>

  </div>
</footer>


<div id="bioModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="bioContent"></div>
  </div>
</div>

<script src="{% static 'script.js' %}"></script>
</body>
</html>
